html,
body {
  height: 100%;
  margin: 0;
  background-color: cadetblue;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}


.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10rem;
  padding: 20px;
  /* flex: 1; */
}

.product-card {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
}

.product-card img {
  max-width: 190px;
  height: 235px;
}

.footer {
  text-align: center;
  padding: 10px;
  position: relative;
  background-color: black;
  color: white;
  bottom: 0;
  width: 100%;

}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0d4970;
  padding: 10px 20px;
  font-family: cursive;
}

.logo {
  width: 70px;
  /* Adjust as per your logo size */
  height: 75px;
  border-radius: 20%;
}

.side-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.side-nav ul li {
  margin-left: 20px;
}

.side-nav ul li a {
  text-decoration: none;
  color: #333;
}

.side-nav ul li a:hover {
  color: #7db7f4;
}

.form-div {
  margin-top: 10%;
  margin-left: 35%;
  background-position: center;
}

form {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 550px;
  height: 343px;
  background-image: linear-gradient(rgb(186, 228, 218), rgb(240, 183, 183));
  justify-content: center;
  text-align: center;
  align-items: center;
}